.mainContent {

}

.cardWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    background: rgb(245, 245, 245);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    cursor: pointer;
}

.cardWrapper:hover {
    background:rgb(232, 249, 253)
}

.cardContent {
    display: flex;
    align-items: center;
    width: 90%;
}
.nameCard {
    padding-left: 25px;
    width: 50%;
}

.phoneNumberCard {
    width: 50%;
}

.emailNumberCard {
    width: 50%;
    font-size: 14px;
    padding-right: 10px;
}

.buttonRemove {
    height: 100%;
}

.buttonRemove > button {
    height: 100%;
    border: 0 solid;
    color: rgb(255, 255, 255);
    background:rgb(241, 116, 123);
    padding: 10px 10px;
    font-size: 12px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.buttonRemove > button:hover {
    width: 70px;
}