.filterWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.filterWrapper > input {
    height: 35px;
    width: 320px;
    border-radius: 8px 0 0 8px;
    padding: 0px 35px;
    border: 0 solid;
    font-size: 14px;
    outline: none;
}

.searchIcon {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    padding-left: 5px;
    background: white;
}

.clearIcon {
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    padding: 4px;
    margin-right: 5px;
    outline: none;
    border: 0 solid;
    cursor: pointer;
    background: #EFEFEF;
    border-radius: 50px;
    fill: white;
}


.clearIcon:hover {
    background: rgba(150, 150, 150, 0.82);
    border-radius: 50px;
}

