.checkboxContainerFalse {
    display: flex;
    height: 100%;
}

.checkboxStyle {
    cursor: pointer;
    opacity: 0%;
    position: absolute;
}


.checkboxContainerFalse::after {
    content: "";
    width: 30px;
    border-radius: 15px 0 0 15px;
    border: 0.1px solid #d9d9d995;
    background: rgb(255, 255, 255);
}



.checkboxContainerTrue {
    display: flex;
    height: 100%;
}

.checkboxContainerTrue::after {
    content: "";
    background: #24BD93;
    width: 30px;
    border-radius: 15px 0 0 15px;
    border: 0.1px solid rgba(121, 121, 121, 0);
}



